@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h-75 {
  height: 75vh;
}

.invisible {
  display: none;
}

table.scroll {
  width: 100%;
  margin-top: 1%;
}

table.scroll input {
  border: none;
  border-bottom: solid thin;
  border-radius: 0px;
  border-color: rgba(29, 140, 248, 0.3);
}

table.scroll tbody,
table.scroll thead {
  display: block;

}

table.scroll tbody {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scroll tbody > tr > td {
  border: none;
}

tbody td,
thead th {
  width: 20%;
  padding: 3px;
  /* Optional */
}

.input-group {
  margin-bottom: 0px;
}

.form-group .textarea {
  min-height: 210px;
}

#tablaDeTitulos {
  overflow: auto;
  padding-bottom: 10px;
  max-height: 710px;
}

.cardScroll {
  height: 273px;
  overflow: auto;
  padding-bottom: 10px;
}

#textAreaDescripcion {
  height: 280px;
  overflow: auto;
}

#glosarioTextArea {
  min-height: 0px;
  height: 80px;
  overflow: auto;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1rem 1rem;
  margin-bottom: -0.0625rem;
  background-color: #27293d;
  border: 0.0625rem solid #31334d;
}

.modal-content {
  background: transparent;
  display: inline;
}

.modal-lg {
  max-width: 50%;
  min-width: 800px;
  height: 600px;
  max-height: 600px;
}

.MuiPaper-root {
min-height:120px !important;
}

.table-header{
  width:fit-content !important;
  color: #002c6f  !important;
  font-size:1vw !important;
}

.table-content{
  color: #002c6f !important;
  padding-left:auto!important;
  padding-right:auto !important;
  font-size:1vw !important;
}

.table td{
  font-size:.8rem;
}

.card .table td{
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.ReactTable .rt-thead .rt-resizable-header-content {
  text-align: center;
}

.ReactTable .-pagination .-btn {
  width: 33%;
}

.ReactTable .-pagination .-previous {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.ReactTable .-pagination .-next {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.ReactTable .-pagination .-center {
  flex: 1;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 0px;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: rgb(29, 138, 248, 0.2);
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

table::-webkit-scrollbar-thumb {
  background: yellow !important;
  border-radius: 10px;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: grey;
}



/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #002c6f;
}

.tab-space {
  padding: 0;
}

.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons)
  .nav-item
  .nav-link {
  border-radius: 7.5px;
}

.btn-orange.btn-link {
  color: #e6b325;
}

.ReactTable .-pagination .-btn {
  width: auto;
}

.ddlOptions-noBorder {
  border: none;
  border-bottom: solid thin;
  border-radius: 0px;
  border-color: rgba(29, 140, 248, 0.3);
}

.ddlOptions {
  background-color: #525f7f;
  border: none;
  border-bottom: solid thin;
}

#options {
  background-color: #525f7f;
}

.selectedTableRow {
  border: solid 1px #1d8cf8;
  background-color: rgb(29, 140, 248, 0.15);
}

.dx-dropdowneditor-input-wrapper{
  color:white
}

.placa-style  .dx-texteditor-input{
  color:white !important;
  font-weight:800;
  font-size:20px;
}

.dx-texteditor-input{
  color:rgb(66, 66, 66);
  font-weight:400;
  font-size:186x;
}

.main-panel > .navbar {
  /* border-top: solid 2px #1D8AF8; */
  background-color: #1e1e2d;
}

.options{
  font-size: 16px;
    margin-left: 5vw;
    margin-bottom: 5px;
    font-weight: 500;
}

.row {
  display: flex;
  align-items: center;
}

.scrollModal {
  max-height: 435px;
  overflow-y: auto;
  overflow-x: hidden;
}

.round {
  border-radius: 10px;
}

.loginCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 55%;
  border-radius: 20px;
  background-color: white;
}

.loginLogo {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: absolute;
}

.formLogin {
  width: 50%;
  margin-left: 20%;
  margin-top: 12%;
}

.block{
  font-weight:700;
  color:#474242 !important
}

.content {
  margin: 50px;
  margin-left:1vw;
  margin-right:1vw;
  background-color: transparent;
  height: 100%;
}

.dx-field{
  display: inline-flex;
  vertical-align: middle;
  margin-top:5px;
  margin-bottom:5px;
  width:33%;
}

.dx-fieldset{
  margin: 10px 20px;
  text-align: justify;
}

.dx-fieldset-header{
  width:400px;
  font-weight:600;
  font-size:25px;
  margin-bottom:10px;
}

.dx-placeholder {

color:White;
font-weight:800;
font-size:18px;
}

.selector .dx-placeholder {

  color:rgb(141, 140, 140);
  font-weight:400;
  font-size:18px;
  line-height:1rem;
  }

  .input-group-text{
    padding: 0px;
    border:0px;
  }

  .selector .dx-dropdowneditor-icon{
    color:rgb(94, 93, 93)
  }

.dx-widget {
  color: white;
}

.dx-dropdowneditor-icon{
  color:White;
}



.dx-dropdowneditor.dx-dropdowneditor-field-clickable {
  cursor: pointer;
  width: 30%;
}

.fa-info-circle{
 position:absolute;
 right:7vw;
 bottom:1vw;
 margin-top:30px;
}

.fa-home{
color:white;
margin-left:25px;
 }

 .column-items{
   width: 1100px;
   margin-right: auto;
   margin-left: auto;
  }

.dx-field-label{
  font-size:13px;
  padding:0;
  width:fit-content;
}

.dx-field-label p {
  text-align: right;
}
.dx-field-value-static{
  font-size: 13px;
  padding:0;
  width:fit-content;
  font-weight:500;
  margin-left:5px;
}

.placa-imagenes{
  margin:10px;
  width:23%;
  min-width:200px;
}



.p-2{
  padding: 0px !important;
}

.card .card-header:not([data-background-color]) {
  background-color: #ff6a00;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  border-radius: 0px 0px 10px 10px;
  padding:0px;
}

.card {
  background-color: #eeeeee;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open{

  overflow:scroll !important
}

body.ReactModal__Body--open{
  overflow:hidden;
}

.card-login {
  border-radius: 20px;
  background-color: #fff;
}

.input-group-merge {
  box-shadow: none;
}

.kar-input-login,
.kar-input-login:focus {
  background-color: #eeeeee;
}

.kar-component {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  -webkit-box-shadow:0px 1px 1px rgb(175, 173, 173);
 -moz-box-shadow:0px 1px 1px rgb(175, 173, 173);
 box-shadow:0px 1px 1px rgb(175, 173, 173);
}

.kar-icon-color {
  color: #ff6a00;
}

.dx-item-content{
  color:rgb(63, 62, 62)
}


.dx-field-item-label-text,
.kar-label {
  color: #0556b7;
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}

.dx-texteditor-input-container{
  height:25px;
}

.dx-fieldset:first-child > h4:first-child {
  margin-top: 0;
}

#notes-container > .dx-field > .dx-field-label {
  width: 20%;
}

#notes-container > .dx-field > .dx-field-value {
  width: 80%;
}

.dx-field-item-label-location-top {
  margin: 0px;
}

.kar-label-black {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.card-header {
  padding: 10px 20px;
  font-size:27px
}

.card-title {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin: 0px;
}

/* Popup style */

.selector .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
  width: 100% !important;
}
 
.box {
  z-index:1;
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: auto;
  margin-top: calc(95vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #999;
  overflow: auto;
  margin-bottom:20px;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: absolute;
  right: calc(5%);
  top: calc(89vh - 85vh );
  width: 30px;
  height: 30px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: #002c6f
}

.bote-elect{
  margin-left:22%;
   font-size:18px;
}

.popup-bote{
  color:#ebaf0a;
}

.popup-adder{
  border-width:1px;
  border-style:outset;
  border-color:rgb(231, 228, 228) !important;
  font-size:16px;
  width:30px;
  height:25px;
  background-color:white;
  box-shadow:2px 2px 2px rgb(175, 174, 174) !important;
}

.popups-kgs{
  position:absolute;
  margin-top:40px;
  padding-left:1%;
}

.popup-column{
  display:flex;
  flex-direction: column;
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
}
.popup-number{
text-align:center;
margin-left:10px;
width:25px;
border-radius: 5px;
border-width:1px;
border-style:outset;
border-color:rgb(231, 228, 228) !important;
box-shadow:2px 2px 2px rgb(196, 195, 195) !important;
}

.sum{
  border-radius: 5px 0px 0px 5px;
}

.rest{
  border-radius: 0px 5px 5px 0px;
}

.popup-row{
  position:relative;
  margin-right:auto;
  margin-left:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.popup-button{
  color:#ff6a00;
  margin:15px;
  font-size:20px;
  background-color: transparent;
  box-shadow: none;
  float:right;
  border:0px;
  text-decoration: none;
}
.popup-title{
  font-size: 18px;
  color:#1e519e;
  font-weight:500;
}

.popup-recibidos{
  width: 107%;
  background-color: #fcfcfc;
  color:black;
  border: 0px solid;
  padding: 0px;
  background: 
  linear-gradient(rgba(51, 51, 51, 0.363), rgba(80, 80, 80, 0.527)) center bottom 2px /calc(100% - 20px) 1px no-repeat;
  margin-left:-10px !important;
  padding-left:10px;
  height: calc(1.8em);
}

.popup-input{
  width: 300px;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.527)) center bottom 5px /calc(100% - 20px) 2px no-repeat;
  background-color: #fcfcfc;
  border: 0px solid;
  padding: 0px;
}


.popup-elem{
  margin: 0;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f !important;
    text-align: left;
    background-color: white;
}


.white{
  background-color:white
}

.dx-datagrid {
  border-radius: 10px;
  background-color: transparent !important;
}

.dx-datagrid-headers,
.dx-datagrid-header-panel {
  border-radius: 10px 10px 0px 0px;
}

.dx-datagrid .dx-row > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  color: #0556b7;
  font-weight: bold;
  font-size: 15px;
}

@media only screen and (max-width: 990px) {
.dx-dropdowneditor.dx-dropdowneditor-field-clickable {
  width: 42%;
}

.table-content{
  font-size:10px !important;
}

.table-header {
  font-size: 10px !important;
}
}

@media only screen and (max-width: 850px) {
  .dx-field-value-static {
    font-size:11px
  }

  .container-fluid{
    padding-right:0px;
  }

  .dx-texteditor-input{
  font-weight:600;
  font-size:14px;
  }
  .dx-placeholder {
    font-weight:600;
  font-size:14px;
    }

  img[alt*="avatar"] {
    width: 35px !important;
}
}

@media only screen and (max-width: 750px) {
  .input-bar{
    width:70%
  }

  .input-search{
    width:15%;
  }

  .dx-field-value-static {
    font-size:10px
  }

  .dx-field-label {
    font-size: 10px;
  }


  .dx-field{
    width:50%;
  }
}

@media only screen and (max-width: 600px) {
  .dx-fieldset-header {
    font-size:20px
}
.kar-component {
  padding: 5px 5px;
}

}
